<!-- learn.html-->

{% extends "base.html" %}
{% block title %}Learning - Мега-Учебник Flask{% endblock %}
{%  block navbar %}
{% endblock %}


{% block body %}
    <div class="jumbotron">
  <p class="lead">Неактивные номера на панелях расширения:</p>
  <hr class="my-4">
  <a class="btn btn-primary btn-lg" href="#" role="button">Получить список</a>
</div>
    <div class="jumbotron">
        <p class = "h3">Неактивные номера на панелях расширения:</p>
        <hr class="my-4">
        <table>
            {% for button in buttons %}
            <tr valign="top">
                <td><img src="{{ current_user.avatar(36) }}"></td>
                <td>{{ button}}</td>
            </tr>
            {% endfor %}
         </table>

        <p class="lead">{{ button }}</p>
    </div>
{% endblock %}